<h1>Welcome to NatTape</h1>

<p><a href="/playlist/new">New Playlist</a></p>

<p>
<ul>
  <% @playlists.each do |pl| %>
    <li><%= link_to pl.name, url(:playlist, :view, pl.url) %></li>
  <% end %>
</ul>
</p>
